<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Debug"
      internalLogFile="nlog-internal.log">

  <extensions>
    <add assembly="NLog.Targets.Splunk"/>
  </extensions>

  <targets>
    <target
      xsi:type="Console"
      name="StdOut"
      encoding="ascii"
    />

    <target
      name="SplunkLog"
      xsi:type="SplunkHttpEventCollector"
      ServerUrl="https://localhost:8088"
      Token="bff36dda-e0fc-4cdd-b2dc-50418ee98ead"
      Channel="bff36dda-e0fc-4cdd-b2dc-50418ee98ead"
      RetriesOnError="0"
      IgnoreSslErrors="true"
      layout="${message} ${exception:format=tostring}"
      includeEventProperties="true"
    />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="StdOut" />
    <logger name="*" minlevel="Trace" writeTo="SplunkLog" />
  </rules>
</nlog>