<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      autoReload="true" 
      throwConfigExceptions="true"
      internalLogLevel="Off" 
      internalLogFile="nlog-internal.log">

  <extensions>
    <add assembly="NLog.Targets.Splunk"/>
  </extensions>
  
  <targets>
    <target xsi:type="Console"
      name="ConsoleLogger"
      layout="Console Logger: ${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
      />
    
    <target
      name="SplunkLog"
      xsi:type="SplunkHttpEventCollector"
      ServerUrl="http://localhost:8088"
      Token="b9e45a2a-1093-4572-9a9d-2ef2baabafb5"
      RetriesOnError="0"
      layout="${message} ${exception:format=tostring}"
      />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="ConsoleLogger" />
    <logger name="*" minlevel="Trace" writeTo="SplunkLog" />
  </rules>
</nlog>